{% extends "template.html" %}

{% block title %}Відновлення паролю{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/page-style.css">
    <link rel="stylesheet" href="/static/css/password-reset-style.css">
{% endblock %}
{% block style %}

{% endblock %}
{% block body %}

    <h1>Забули пароль?</h1>
    <p>Введіть свій e-mail для відновлення доступу.</p>

    <form method="post" class="form-reset">
        {{ form.as_p }}
        <button class="btn-upload-img" style="margin: 0;" type="submit">Надіслати</button>
        {% csrf_token %}
    </form>
{% endblock %}