{% extends "template.html" %}

{% block title %}Відновлення доступу{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/password-reset-style.css">
    <link rel="stylesheet" href="/static/css/page-style.css">
{% endblock %}
{% block body %}
    {% load contact_tags %}
    <h1>Задайте новий пароль</h1>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div>
                    <strong>{{ error|escape|translate }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div>
                <strong>{{ error|escape|translate }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% if validlink %}
        <p>Будь ласка, введіть новий пароль двічі:</p>
        <form action="." method="post" class="form-change">
            {% csrf_token %}
            <input type="password" name="new_password1" autocomplete="new-password" id="id_new_password1" required>
            <input type="password" name="new_password2" autocomplete="new-password" id="id_new_password2" required>
            <button type="submit" class="btn-upload-img" style="margin: 0;">змінити</button>
        </form>
    {% else %}
        <p>Посилання для скидання пароля було недійсним, можливо тому, що воно вже використовувалося. Будь ласка,
            спробуйте ще раз.</p>
    {% endif %}

{% endblock %}