.form-reset input {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #3786ed;
    width: 200px;
    outline: none;
}

.form-change {
    display: grid;
    width: 300px;
}

.form-change input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #3786ed;
    width: 200px;
    outline: none;
}