{% extends 'template.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/login-style.css">
{% endblock %}

{% block body %}
    <div style="text-align: center;font-weight: bold;font-size: 30px;">Вхід</div>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="create_user">
            <input required type="text" placeholder="Логін" name="username" id="id_username">
            <input required type="password" placeholder="Пароль" name="password">
            <button type="submit" name="Create User">Ввійти</button>
            <span style="text-align: left;margin-top: 20px;">Ще немаєте акаунт? <a href="{% url 'register_page' %}">Створіть!</a></span>
        </div>
    </form>
{% endblock %}
