{% extends 'template.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/name-sn-style.css">
{% endblock %}

{% block body %}
    <div style="text-align: center;">
        <span style="font-size: 35px;">Налаштуйте свою сторінку😄</span>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="create_user">
            <input placeholder="як вас звати?" type="text" name="first_name" id="id_first_name">
            <input placeholder="ваше призвіще?" type="text" name="last_name" id="id_last_name">
            <button type="submit">Готово</button>
        </div>
    </form>
{% endblock %}