{% extends 'template.html' %}
{% block style %}
    .create_user{
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
    margin: auto;
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    border-radius: 10px;
    }
    .create_user input{
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: solid;
    }
    .create_user button{
    margin: auto;
    height: 30px;
    width: 100px;
    border-style: solid;
    border-radius: 10px;
    border-color: #5294f7;
    transition: all 0.3s ease;
    }
    .create_user button:hover{
    background-color: #5294f7;
    color: white;
    transition: all 0.3s ease;
    }
    .create_user button:active{
    background-color: #3686ff;
    border-color: #297eff;
    color: white;
    transition: all 0.3s ease;
    }
{% endblock %}
{% block body %}
    <div style="text-align: center;">
        <span style="font-size: 35px;">Налаштуйте свою сторінку😄</span>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="create_user">
            <input placeholder="як вас звати?" type="text" name="first_name" id="id_first_name">
            <input placeholder="ваше призвіще?" type="text" name="last_name" id="id_last_name">
            <button type="submit">Готово</button>
        </div>
    </form>
{% endblock %}