{% extends 'template.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/oauth-style.css">
{% endblock %}
{% block body %}
    <div style="font-size: 30px;text-align: center;">Ви дозволяєте увійти через ваш аккаунт?</div>
    <form method="post">
        {% csrf_token %}
        <div class="form-content">
            <div style="padding: 30px;">
                <button class="button_confirm" name="action" value="login">Так</button>
            </div>
            <a style="color: gray;text-decoration: none;float: left;" onclick="window.history.go(-1); return false;">ні, я передумав</a>
        </div>
    </form>
{% endblock %}
