{% extends 'template.html' %}
{% block style %}

{% endblock %}
{% block head %}
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/page-style.css">
    <link rel="stylesheet" href="/static/css/all-photos-style.css">
{% endblock %}
{% block body %}
    {% load contact_tags %}
    {% load static %}
    <div id="myModal_img" class="modal">
        <div class="modal-content" style="width: 0; display: table;">
            <div>
                <span class="close" id="close_img">&times;</span>
                <div id="imgtitle" style="font-weight: bold;"></div>
            </div>
            <div style="text-align: center;">
                <img id="imguser" src="#" style="height: 400px;border-radius: 10px;">
            </div>
            <div style="display: flex;align-items: center;">
                <button id="del_btn" class="img-delete-button">видалити</button>
                <div id="img_msg" style="color: #e74343;margin-left: 10px;">
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" id="close">&times;</span>
            <div class="file-upload">
                <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">
                    додати картинку
                </button>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="image-upload-wrap">
                        <input class="file-upload-input" type='file' name="img" onchange="readURL(this);"
                               accept="image/*"/>
                        <div class="drag-text">
                            <h3>або перетягніть файл сюди</h3>
                        </div>
                    </div>
                    <div class="file-upload-content">
                        <img class="file-upload-image" src="#" alt="your image"/>
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload()" class="remove-image">Видалити <span
                                    class="image-title">загружене зображення</span></button>
                        </div>
                        <div><input type="text" name="title" placeholder="підпис до картинки..."></div>
                        <div>
                            <button type="submit" class="btn-upload-img" name="action" value="upload">загрузити</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="top">
        <div class="user_main_info">
            {% if page.logo %}
                <img class="img_user" src="{{ page.logo.url }}">
            {% endif %}
            <div class="user_name">
                <span>{{ page.user.first_name }} {{ page.user.last_name }}</span>
            </div>
        </div>
        <div class="user_theme">
            {% if page.background %}
                <img class="img_theme" src="{{ page.background.url }}">
            {% else %}
                <img class="img_theme" src="/static/basic_back.jpg">
            {% endif %}
        </div>
    </div>
    <br>
    <div style="display: flex;justify-content: space-between;">
        <div style="float: left;">
            <div class="follows_info">
                {% if page.user.follows.another_user.all|length > 4 %}
                    {% for user in page.user.follows.another_user.all %}
                        {% if forloop.counter < 5 %}
                            <img style="width: 30px;height: 30px;object-fit: cover;border-radius: 50%;margin-right: 10px;"
                                 src="{{ user.pageusers_set.get.logo.url }}">
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for user in page.user.follows.another_user.all %}
                        <img style="width: 30px;height: 30px;object-fit: cover;border-radius: 50%;margin-right: 10px;"
                             src="{{ user.pageusers_set.get.logo.url }}">
                    {% endfor %}
                {% endif %}
                <span><a href="{% url 'user_follows_page' page.user.id %}" style="text-decoration: none;">підписки ></a></span>
                <div style="margin-left: auto;">
                    <div class="follow_div">
                        <form method="post" action="">
                            {% csrf_token %}
                            {% if not request.user.username == page.user.username %}
                                {% if is_followed %}
                                    <button type="submit" name="action" value="unfollow" class="img-delete-button">
                                        відписатись
                                    </button>
                                {% else %}
                                    <button type="submit" name="action" value="follow" class="btn-follow">підписатись
                                    </button>
                                {% endif %}
                            {% endif %}
                        </form>
                    </div>
                    <div class="follow_div" style="margin-right: 10px;">
                        {% if not request.user.username == page.user.username and request.user in followers.another_users.all and request.user in page.user.follows.another_user.all%}
                            <button class="btn_send" style="margin: 0px;"
                                    onclick="location.href='{% url 'create_or_go_room' page.user.id %}'">
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="follows_info">
                {% if followers.another_users.all %}
                    {% for user in followers.another_users.all %}
                        <img style="width: 30px;height: 30px;object-fit: cover;border-radius: 50%;margin-right: 10px;"
                             src="{{ user.pageusers_set.get.logo.url }}">
                    {% endfor %}
                    <a href="{% url 'followers_user' page.user.id %}" style="text-decoration: none;">підписники ></a>
                {% else %}
                    <span style="color: #6f6f6f;">немає підписників :(</span>
                {% endif %}

            </div>
            <div class="follows_info">
                {% if page.publics.all %}
                    {% for pub in page.publics.all %}
                        <img style="width: 30px;height: 30px;object-fit: cover;border-radius: 50%;margin-right: 10px;"
                             src="{{ pub.logo.url }}">
                    {% endfor %}
                    <a href="{% url 'pubs_user' page.user.id %}" style="text-decoration: none;">спільноти ></a>
                {% else %}
                    <span style="color: #6f6f6f;">немає спільнот :(</span>
                {% endif %}
            </div>
            <div>
                <div class="last_imgs">
                    {% for img in img_user %}
                        <div id="img_{{ img.id }}">
                            {% if forloop.counter == 3 %}
                                <img onclick="location.href='{% url 'all_photos' page.id %}'" style="filter: blur(3px);"
                                     src="{{ img.img.url }}">
                                <div class="all_photos">всі фото <i class="fas fa-images"></i></div>
                            {% else %}
                                <img src="{{ img.img.url }}"
                                     onclick="view_img('{{ img.img.url }}', '{{ img.title }}', {{ img.id }})">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% if request.user.username == page.user.username %}
                    <button id="myBtn" class="btn-upload-img">додати фото</button>
                {% endif %}
            </div>
        </div>
        <div style="display: grid;float: right;width: 530px;">
            {% if request.user.id == page.user.id %}
                <div class="create_post">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input required onclick="func()" type="text" placeholder="Заголовок" name="label"
                               id="id_label">
                        <div class="text_post" id="text_post">
                            <textarea required type="text" placeholder="Текст" name="text" id="id_text"></textarea>
                            <button style="float: left;" type="submit" class="btn_send">></button>
                        </div>
                    </form>
                </div>
            {% else %}
            {% endif %}
            {% if posts %}
            {% else %}
                <span style="margin-left: 24px">Немає постів</span>
            {% endif %}
            <div class="posts">
                {% for post in posts|order_by:"-id" %}
                    <div class="post" id="post_{{ post.id }}">
                        <div>
                            <span class="post_label">{{ post.label }}</span>
                            {% if request.user.username == page.user.username %}
                                <button class="btn_remove" onclick="del_post({{ post.id }})" style="float: right;">
                                    Видалити
                                </button>
                            {% endif %}
                        </div>
                        <div>{{ post.text }}</div>
                        <hr>
                        <div id="comments_{{ post.id }}">
                            {% if not post.comments.all %}
                                немає коментів
                            {% endif %}
                            {% for comm in post.comments.all|order_by:"-id" %}
                                <div style="display: flex;">
                                    <div>
                                        <img class="comment_user_img"
                                             src="{{ comm.user.pageusers_set.get.logo.url }}">
                                    </div>
                                    <div style="margin-left: 5px;">
                                        <div><span
                                                style="font-weight: bold;"><a
                                                href="/{{ comm.user.pageusers_set.get.id }}">{{ comm.user.first_name }} {{ comm.user.last_name }}</a></span>
                                        </div>
                                        <div><span>{{ comm.text }}</span></div>
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                        <div>
                            {% if request.user in followers.another_users.all %}
                                <form method="post" action="" class="comment_form" id="comment_form">
                                    {% csrf_token %}
                                    <textarea required name="text_post" class="comment_input"
                                              placeholder="Коментар"></textarea>
                                    <input type="hidden" name="id" value="{{ post.id }}">
                                    <button type="submit" name="action" value="add_comm">></button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        function del_post(post_id) {
            $.ajax({
                type: 'POST', url: '{% url "del_post" %}',
                data: {'csrfmiddlewaretoken': csrf_token, 'post_id': post_id},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        var post = "#post_" + post_id;
                        $(post).remove();
                    } else {

                    }
                }
            });
        }

        $('#comment_form').submit(function (e) {
            e.preventDefault();
            $form = $(this)
            var formData = new FormData(this);
            $.ajax({
                url: {% url 'add_comment' %},
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        $('#comment_form')[0].reset();
                        $new_post = $('<div style="display: flex;"><div> <img class="comment_user_img" src="' + response.user_img + '"> </div> <div style="margin-left: 5px;"><div><span style="font-weight: bold;"><a href="/' + response.upage_id + '">' + response.first_name + response.last_name + '</a></span> </div> <div><span>' + response.comm_text + '</span></div></div> </div> <br>');
                        var id_post = 'comments_' + response.post_id;
                        var wall = document.getElementById(id_post);
                        var first = wall.childNodes[0];
                        $new_post.insertBefore(first)
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });

        function del_img(img_id) {
            $.ajax({
                type: 'POST', url: '{% url "del_img" %}',
                data: {'csrfmiddlewaretoken': csrf_token, 'img_id': img_id},
                dataType: 'json',
                cache: false,
                success: function (data) {
                    if (data.success) {
                        var img = "#img_" + img_id;
                        $(img).remove();
                        document.getElementById('img_msg').textContent = 'видалено !';
                    } else {

                    }
                }
            });
        }

        var modal_img = document.getElementById("myModal_img");
        var span_img = document.getElementById('close_img');

        function view_img(url_img, title, img_id) {
            modal_img.style.display = "block";
            document.getElementById('imguser').setAttribute('src', url_img);
            document.getElementById('imgtitle').textContent = title;
            document.getElementById('del_btn').setAttribute('onclick', 'del_img(' + img_id + ')');
        }

        span_img.onclick = function () {
            modal_img.style.display = "none";
        }

        {#window.onclick = function (event) {#}
        {#    if (event.target == modal) {#}
        {#        modal_img.style.display = "none";#}
        {#    }#}
        {# } #}

        function func() {
            document.getElementById("text_post").style.display = "block";
        }

        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementById("close");
        btn.onclick = function () {
            modal.style.display = "block";
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            if (event.target == modal_img) {
                modal_img.style.display = "none";
                document.getElementById('img_msg').textContent = '';
            }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.image-upload-wrap').hide();

                    $('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();

                    $('.image-title').html(input.files[0].name);
                };

                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
        }

        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });
    </script>
{% endblock %}
