{% extends 'template.html' %}
{% block style %}
    .img_user {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    }
    .user_main_info{
    background-color: #f7f7f7;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    height: 100px;
    }
    .user_name {
    margin: auto;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    }
    .user_theme {
    height: 120px;
    padding: 0px;
    margin-left: 10px;
    }
    .img_theme {
    width: 963px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    }
    .top {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .create_post {
    float: right;
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;
    margin-right: 24px;
    border-radius: 10px;
    width: 400px;
    margin-bottom: 20px;
    }
    #id_label {
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    }
    #id_text {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    }
    .posts {
    width: 400px;
    margin-right: 24px;
    border-radius: 10px;
    float: right;
    }
    .post {
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    word-wrap: break-word;
    width: 400px;
    }
    .post_label {
    font-size: 20px;
    font-weight: bold;
    }
    .btn_remove {
    border: none;
    background-color: #ed3e3e;
    color: white;
    border-radius: 10px;
    padding: 5px;
    }
    .comment_input{
    width: 365px;
    height: 25px;
    border: none;
    border-radius: 10px;
    resize: none;
    transition: ease-out 0.2s;
    outline:none;
    font-family: Arial, serif;
    }
    .comment_input:focus{
    width: 365px;
    height: 100px;
    border: none;
    border-radius: 10px;
    transition: ease-out 0.2s;
    }
    .follows_info{
    width: 400px;
    margin-left: 24px;
    background-color: #f7f7f7;
    border: none;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    float: left;
    }
    .follow_div{
    float: right;
    margin-top: 5px;
    }
    .follow_div button{
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: #77b6e0;
    color: white;
    transition: ease-out 0.2s;
    }
    .follow_div button:hover{
    background-color: white;
    color: #77b6e0;
    transition: ease-out 0.2s;
    }
    .input_title:focus .text_post{
    display: block;
    }
    .text_post{
    display:none;
    }
    .comment_user_img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    }
{% endblock %}
{% block body %}
    {% load contact_tags %}
    {% load static %}
    <div class="top">
        <div class="user_main_info">
            {% if page.logo %}
                <img class="img_user" src="{{ page.logo.url  }}">
            {% endif %}
            <div class="user_name">
                <span>{{ page.user.first_name }} {{ page.user.last_name }}</span>
            </div>
        </div>
        <div class="user_theme">
            {% if page.background %}
                <img class="img_theme" src="{{ page.background.url }}">
            {% else %}
                <img class="img_theme" src="/static/basic_back.jpg">
            {% endif %}
        </div>
    </div>
    <br>
    <div class="follows_info">
            {% if page.user.follows.another_user.all|length > 5 %}
                {% for user in page.user.follows.another_user.all %}
                    {% if forloop.counter < 6 %}
                        <img style="width: 25px;height: 25px;object-fit: cover;"
                             src="{{ user.pageusers_set.get.logo.url }}">
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for user in page.user.follows.another_user.all %}
                    <img style="width: 30px;height: 30px;object-fit: cover;border-radius: 50%;"
                         src="{{ user.pageusers_set.get.logo.url }}">
                {% endfor %}
            {% endif %}
        <span><a href="{% url 'user_follows_page' page.user.id %}">підписки ></a></span>
        <div class="follow_div">
            <form method="post" action="">
                {% csrf_token %}
                {% if not request.user.username == page.user.username %}
                    {% if is_followed %}
                        <button type="submit" name="action" value="unfollow">відписатись</button>
                    {% else %}
                        <button type="submit" name="action" value="follow">підписатись</button>
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
    <br>
    <div style="display: grid;float: right;margin-top: -18px;">
        {% if request.user.id == page.user.id %}
            <div class="create_post">
                <form action="" method="post">
                    {% csrf_token %}
                    <input required onclick="func()" type="text" placeholder="Заголовок" name="label" id="id_label">
                    <div class="text_post" id="text_post">
                        <textarea required type="text" placeholder="Текст" name="text" id="id_text"></textarea>
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        {% else %}
        {% endif %}
        {% if posts %}
        {% else %}
            <span style="margin-left: 24px">Немає постів</span>
        {% endif %}
        <div class="posts">
            {% for post in posts %}
                <div class="post">
                    <div>
                        <span class="post_label">{{ post.label }}</span>
                        {% if request.user.username == page.user.username %}
                            <form style="float: right" method="post" action="">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ post.id }}">
                                <button class="btn_remove" type="submit" name="action" value="delete_post">Видалити
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    <div>{{ post.text }}</div>
                    <hr>
                    <div>
                        {% if not post.comments.all %}
                            нету коментариев
                        {% endif %}
                        {% for comm in post.comments.all %}
                            <div style="display: flex;">
                                <div>
                                    <img class="comment_user_img" src="{{ comm.user.pageusers_set.get.logo.url }}">
                                </div>
                                <div style="margin-left: 5px;">
                                    <div><span
                                            style="font-weight: bold;"><a
                                            href="/{{ comm.user.pageusers_set.get.id }}">{{ comm.user.first_name }} {{ comm.user.last_name }}</a></span>
                                    </div>
                                    <div><span>{{ comm.text }}</span></div>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                    <div>
                        <form method="post" action="">
                            {% csrf_token %}
                            <textarea required name="text_post" class="comment_input"
                                      placeholder="Коментарий"></textarea>
                            <input type="hidden" name="id" value="{{ post.id }}">
                            <button type="submit" name="action" value="add_comm">></button>
                        </form>
                    </div>
                </div>
                </div>
            {% endfor %}
    </div>
    <script>
        function func() {
            document.getElementById("text_post").style.display = "block";
        }
    </script>
{% endblock %}
