{% extends 'template.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/register-style.css">
{% endblock %}

{% block body %}
    {% load contact_tags %}

    <div style="text-align: center;font-weight: bold;font-size: 30px;">Реєстрація</div>
    <div style="width: 34%;margin: auto;text-align: left;">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div>
                        <strong style="color: #d44040;">{{ error|escape|translate|safe }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div>
                    <strong style="color: #d44040;">{{ error|escape|translate|safe }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="create_user">
            <input required type="text" placeholder="Логін" name="username" id="id_username">
            <input required type="text" placeholder="@Пошта" name="email" id="id_email">
            <input required type="password" placeholder="Пароль" name="password1" id="id_password1">
            <input required type="password" placeholder="Перевірка паролю" name="password2" id="id_password2">
            <button style="margin: auto" type="submit" name="Create User">Створити</button>
            <span style="text-align: left;margin-top: 20px;">Є  аккаунт? <a
                    href="{% url 'login_page' %}">Ввійти</a></span>
        </div>
    </form>
{% endblock %}





