{% extends 'template.html' %}

{% block body %}
    {% load contact_tags %}
    <div style="text-align: center;font-weight: bold;font-size: 30px;">Месенджер <i class="fas fa-comments"></i></div>
    <div style="width: 500px;margin: auto;">
        {% for room in rooms %}
            <div style="background-color: #f7f7f7;border-radius: 10px;padding: 10px;display: flex;margin-bottom: 10px;"
                 onclick="location.href='{% url 'room' room.name %}'">
                <div>
                    {% if not request.user == room.user1 %}
                        <img style="width: 50px;height: 50px;object-fit: cover;border-radius: 50%;"
                             src="{{ room.user1.pageusers_set.get.logo.url }}">
                    {% endif %}
                    {% if not request.user == room.user2 %}
                        <img style="width: 50px;height: 50px;object-fit: cover;border-radius: 50%;"
                             src="{{ room.user2.pageusers_set.get.logo.url }}">
                    {% endif %}
                </div>
                <div style="display: grid;margin-left: 10px;background-color: #e6e6e6; border-radius: 10px;padding: 10px;">
                    {% if not request.user == room.user1 %}
                        <span><a
                                href="{% url 'page' room.user1.pageusers_set.get.id %}">{{ room.user1.username }}</a></span>
                    {% endif %}
                    {% if not request.user == room.user2 %}
                        <span><a
                                href="{% url 'page' room.user2.pageusers_set.get.id %}">{{ room.user2.username }}</a></span>
                    {% endif %}
                    <span>{{ room.id|last_message }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}