{% extends 'template.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/page-settings-style.css">
{% endblock %}
{% block body %}
    <div style="text-align: center;font-weight: bold;font-size: 30px;">Налаштування <i class="fas fa-cog"></i></div>
    <div style="display: flex;justify-content: center;">
        <form class="card-form" action="" method="post">
            {% csrf_token %}
            <div class="card color_blue" style="width: 250px;">
                <span style="font-size: 30px;"><b>Профайл 🤓</b></span>
                <input type="text" placeholder="ваше ім'я" name="first_name" id="id_first_name">
                <input type="text" placeholder="призвіще?" name="last_name" id="id_last_name">
                <button name="action" value="user_name">Змінити</button>
            </div>
        </form>
        <div>
            <form style="margin-right: 10px;margin-bottom: 10px;" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card color_green">
                    <span style="font-size: 30px;"><b>Логотип 🥸</b></span>
                    <input style="margin-bottom: 10px;" type="file" name="logo" accept="image/*" id="id_logo">
                    <button type="submit" name="action" value="logo">Змінити</button>
                </div>
            </form>
            <form style="margin-right: 10px;" method="post" enctype="multipart/form-data">
                <div class="card">
                    {% csrf_token %}
                    <span style="font-size: 30px;"><b>Тема 🏞</b></span>
                    <input style="margin-bottom: 10px;" type="file" name="background" accept="image/*"
                           id="id_background">
                    <button type="submit" name="action" value="back_change">Змінити</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}