{% extends 'template.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/page-style.css">
    <link rel="stylesheet" href="/static/css/all-photos-style.css">
{% endblock %}

{% block body %}
    <div style="text-align: center;font-weight: bold;font-size: 30px;"><i class="fas fa-user-friends"></i></div>
    <div style="width: 500px;margin: auto;">
        {% load contact_tags %}
        {% for user in users %}
            {% if user.id != request.user.id %}
                <div style="background-color: #f7f7f7;border-radius: 10px;padding: 10px;display: flex;margin-bottom: 10px;">
                    <div>
                        <img style="width: 50px;height: 50px;object-fit: cover;border-radius: 50%;"
                             src="{{ user.pageusers_set.get.logo.url }}">
                    </div>
                    <div style="display: grid;margin-left: 10px;background-color: #e6e6e6; border-radius: 10px;padding: 10px;">
                        <span><a href="{% url 'page' user.pageusers_set.get.id %}">{{ user.username }}</a></span>
                        <span>{{ user.first_name }} {{ user.last_name }}</span>
                    </div>
                    <div style="align-self: center;margin-left: auto;">
                        <form method="post" id="user_unfollow_id_{{ user.id }}"
                              {% if request.user.id|followed:user.id %}style="display: block"
                              {% else %}style="display: none"{% endif %}>
                            {% csrf_token %}
                            <input type="hidden" id="user_id_{{ user.id }}" value="{{ user.id }}">
                            <button class="img-delete-button"
                                    onclick="unfollow(document.getElementById('user_id_{{ user.id }}').value)">
                                відписатись
                            </button>
                        </form>
                        <form method="post" id="user_del_id_{{ user.id }}"
                              {% if request.user.id|followed:user.id %}style="display: none"
                              {% else %}style="display: block"{% endif %}>
                            {% csrf_token %}
                            <input type="hidden" id="user_id_{{ user.id }}" value="{{ user.id }}">
                            <button class="btn-follow"
                                    onclick="follow(document.getElementById('user_id_{{ user.id }}').value)">підписатись
                            </button>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <script>
        function follow(user_id) {
            var uid_ = "#user_id_" + user_id;
            $(document).on('submit', "#user_del_id_" + user_id, function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: {% url 'follow_user' %},
                    data: {
                        user_id: $(uid_).val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function () {
                        var form_follow = "user_del_id_" + user_id;
                        var form_unfollow = "user_unfollow_id_" + user_id;
                        document.getElementById(form_follow).style.setProperty("display", "none");
                        document.getElementById(form_unfollow).style.setProperty("display", "block");
                    }
                });
            });
        }

        function unfollow(user_id) {
            var uid_ = "#user_id_" + user_id;
            $(document).on('submit', "#user_unfollow_id_" + user_id, function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: {% url 'unfollow_user' %},
                    data: {
                        user_id: $(uid_).val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function () {
                        var form_unfollow = "user_unfollow_id_" + user_id;
                        var form_follow = "user_del_id_" + user_id;
                        document.getElementById(form_unfollow).style.setProperty("display", "none");
                        document.getElementById(form_follow).style.setProperty("display", "block");
                    }
                });
            });
        }
    </script>
{% endblock %}